@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="text-2xl font-bold text-center text-gray-900">@ViewData["Title"]</h2>
    <partial name="_StatusMessage" for="StatusMessage" />

    <form id="change-password-form" method="post" class="mt-6">
        <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>

        <div class="mb-4">
            <label asp-for="Input.OldPassword" class="block text-sm font-semibold text-gray-700">Old Password</label>
            <input asp-for="Input.OldPassword" class="block w-full border border-gray-300 py-2 px-3 text-gray-900" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
            <span asp-validation-for="Input.OldPassword" class="text-red-500"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Input.NewPassword" class="block text-sm font-semibold text-gray-700">New Password</label>
            <input asp-for="Input.NewPassword" class="block w-full border border-gray-300 py-2 px-3 text-gray-900" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
            <span asp-validation-for="Input.NewPassword" class="text-red-500"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Input.ConfirmPassword" class="block text-sm font-semibold text-gray-700">Confirm New Password</label>
            <input asp-for="Input.ConfirmPassword" class="block w-full border border-gray-300 py-2 px-3 text-gray-900" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
            <span asp-validation-for="Input.ConfirmPassword" class="text-red-500"></span>
        </div>

        <div class="mt-6">
            <button type="submit" class="w-full flex justify-center bg-sky-600 px-3 py-2 text-sm font-semibold text-white hover:bg-sky-500">
                Update password
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
