@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="text-2xl font-bold text-center text-gray-900">@ViewData["Title"]</h2>
    <partial name="_StatusMessage" for="StatusMessage" />

    <form id="profile-form" method="post" class="mt-6">
        <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>

        <div class="mb-4">
            <label asp-for="Username" class="block text-sm font-medium text-gray-700">Username</label>
            <input asp-for="Username" class="block w-full border border-gray-300 py-2 px-3 text-gray-900" placeholder="Please choose your username." disabled />
        </div>

        <div class="mb-4">
            <label asp-for="Input.PhoneNumber" class="block text-sm font-medium text-gray-700">Phone number</label>
            <input asp-for="Input.PhoneNumber" class="block w-full border border-gray-300 py-2 px-3 text-gray-900" placeholder="Please enter your phone number." />
            <span asp-validation-for="Input.PhoneNumber" class="text-red-500"></span>
        </div>

        <div class="mt-6">
            <button id="update-profile-button" type="submit" class="w-full flex justify-center bg-sky-600 px-3 py-2 text-sm font-semibold text-white hover:bg-sky-500">
                Save
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
