@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="text-2xl font-bold text-center text-gray-900">@ViewData["Title"]</h2>

    <div class="mt-6">
        <p class="text-gray-700">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p class="font-semibold text-red-600">
            <p class="font-semibold text-red-500">Deleting this data will permanently remove your account, and this cannot be recovered.</p>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="mt-4">
            <button class="w-full flex justify-center bg-sky-600 px-3 py-2 text-sm font-semibold text-white hover:bg-sky-500" type="submit">
                Download
            </button>
        </form>
        <p class="mt-4">
            <a id="delete" asp-page="DeletePersonalData" class="w-full flex justify-center bg-red-600 px-3 py-2 text-sm font-semibold text-white hover:bg-red-500 text-center">
                Delete
            </a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
