@model ObservatoryDto
@{
    <div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
        <div class="mx-auto max-w-2xl">
            <div class="text-center">
                <h2 class="text-xl font-bold text-gray-800 sm:text-3xl">Add Observatory</h2>
                <p class="mt-1 text-gray-600 text-lg font-semibold">
                    Manage the observatory locations.
                </p>
            </div>

            <div class="relative z-10 mt-5 border bg-white p-4 sm:mt-10 md:p-10">
                <form method="post" enctype="multipart/form-data">
                    <div class="mb-4 sm:mb-8">
                        <label class="mb-2 block text-sm font-medium">Name</label>
                        <input asp-for="Name" class="block w-full border border-gray-200 px-4 py-3 text-sm" type="text" placeholder="Observatory Name" />
                        <span class="text-red-500" asp-validation-for="Name"></span>
                    </div>

                    <div class="mb-4 sm:mb-8">
                        <label class="mb-2 block text-sm font-medium">Location</label>
                        <input asp-for="Location" class="block w-full border border-gray-200 px-4 py-3 text-sm" type="text" placeholder="Location" />
                        <span class="text-red-500" asp-validation-for="Location"></span>
                    </div>

                    <div class="mb-4 sm:mb-8">
                        <label class="mb-2 block text-sm font-medium">Telescopes Count</label>
                        <input asp-for="TelescopesCount" class="block w-full border border-gray-200 px-4 py-3 text-sm" type="number" placeholder="Number of Telescopes" />
                        <span class="text-red-500" asp-validation-for="TelescopesCount"></span>
                    </div>

                    <div class="mt-6 grid">
                        <button class="inline-flex w-full items-center justify-center gap-x-2 border border-transparent bg-sky-600 px-4 py-3 text-sm font-medium text-white hover:bg-sky-700" type="submit">Add observatory</button>
                    </div>

                    <div class="mt-3 grid">
                        <a class="inline-flex w-full items-center justify-center gap-x-2 border border-gray-200 px-4 py-3 text-sm font-medium text-gray-600 hover:bg-gray-100" asp-area="" asp-controller="Home" asp-action="Index">Back to home</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
