@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
        <p class="text-base font-semibold text-sky-600">401</p>
        <h1 class="mt-4 text-balance text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">Unauthorized</h1>
        <p class="mt-6 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">Sorry, you don't have access to this page.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            <a class="bg-sky-600 px-3.5 py-2.5 text-sm font-semibold text-white hover:bg-sky-500" asp-area="" asp-controller="Home" asp-action="Index">Go back home</a>
        </div>
    </div>
</main>
