@{
    ViewData["Title"] = "About";
}

<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="max-w-2xl mx-auto">
        <div class="grid gap-12">
            <div>
                <h2 class="text-3xl text-gray-800 font-bold lg:text-4xl">
                    About Appet
                </h2>
                <p class="mt-3 text-gray-800">
                    Our app makes it easier for pet owners and professionals to manage animal appointments and more. We're dedicated to providing the best experience for you and your furry companions.
                </p>
            </div>

            <div class="space-y-6 lg:space-y-10">
                <div class="flex gap-x-5 sm:gap-x-8">
                    <svg class="shrink-0 mt-2 size-6 text-sky-500" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M16.4724 20H4.1C3.76863 20 3.5 19.7314 3.5 19.4V9.6C3.5 9.26863 3.76863 9 4.1 9H6.86762C7.57015 9 8.22116 8.6314 8.5826 8.02899L11.293 3.51161C11.8779 2.53688 13.2554 2.44422 13.9655 3.33186C14.3002 3.75025 14.4081 4.30635 14.2541 4.81956L13.2317 8.22759C13.1162 8.61256 13.4045 9 13.8064 9H18.3815C19.7002 9 20.658 10.254 20.311 11.5262L18.4019 18.5262C18.1646 19.3964 17.3743 20 16.4724 20Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path><path d="M7 20L7 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    <div class="grow">
                        <h3 class="text-base sm:text-lg font-semibold text-gray-800">
                            High quality services
                        </h3>
                        <p class="mt-1 text-gray-600">
                            Appet is a set of tools for managing your pet's appointments, veterinary services, and data. Our platform makes daily tasks easier.
                        </p>
                    </div>
                </div>

                <div class="flex gap-x-5 sm:gap-x-8">
                    <svg class="shrink-0 mt-2 size-6 text-sky-500" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M2 20V19C2 15.134 5.13401 12 9 12V12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M15.8038 12.3135C16.4456 11.6088 17.5544 11.6088 18.1962 12.3135V12.3135C18.5206 12.6697 18.9868 12.8628 19.468 12.8403V12.8403C20.4201 12.7958 21.2042 13.5799 21.1597 14.532V14.532C21.1372 15.0132 21.3303 15.4794 21.6865 15.8038V15.8038C22.3912 16.4456 22.3912 17.5544 21.6865 18.1962V18.1962C21.3303 18.5206 21.1372 18.9868 21.1597 19.468V19.468C21.2042 20.4201 20.4201 21.2042 19.468 21.1597V21.1597C18.9868 21.1372 18.5206 21.3303 18.1962 21.6865V21.6865C17.5544 22.3912 16.4456 22.3912 15.8038 21.6865V21.6865C15.4794 21.3303 15.0132 21.1372 14.532 21.1597V21.1597C13.5799 21.2042 12.7958 20.4201 12.8403 19.468V19.468C12.8628 18.9868 12.6697 18.5206 12.3135 18.1962V18.1962C11.6088 17.5544 11.6088 16.4456 12.3135 15.8038V15.8038C12.6697 15.4794 12.8628 15.0132 12.8403 14.532V14.532C12.7958 13.5799 13.5799 12.7958 14.532 12.8403V12.8403C15.0132 12.8628 15.4794 12.6697 15.8038 12.3135V12.3135Z" stroke="currentColor" stroke-width="1.5"></path><path d="M15.3636 17L16.4546 18.0909L18.6364 15.9091" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9 12C11.2091 12 13 10.2091 13 8C13 5.79086 11.2091 4 9 4C6.79086 4 5 5.79086 5 8C5 10.2091 6.79086 12 9 12Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    <div class="grow">
                        <h3 class="text-base sm:text-lg font-semibold text-gray-800">
                            Trusted community of veterinarians
                        </h3>
                        <p class="mt-1 text-gray-600">
                            We connect pet owners with highly skilled and compassionate veterinarians. Our community is built on trust, professionalism, and a shared love for animals.
                        </p>
                    </div>
                </div>

                <div class="flex gap-x-5 sm:gap-x-8">
                    <svg class="shrink-0 mt-2 size-6 text-sky-500" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M7 12.5L10 15.5L17 8.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    <div class="grow">
                        <h3 class="text-base sm:text-lg font-semibold text-gray-800">
                            Simple and intuitive
                        </h3>
                        <p class="mt-1 text-gray-600">
                            Appet's user-friendly interface ensures a seamless experience for all users, with intuitive features for booking appointments, tracking records, and managing veterinarian interactions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

