@{
    ViewData["Title"] = "Home Page";
}

<div class="relative overflow-hidden">
    <div class="relative z-10">
        <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10 lg:py-16">
            <div class="max-w-2xl text-center mx-auto">
                <div class="mt-5 max-w-2xl">
                    <h1 class="block font-semibold text-gray-800 text-4xl md:text-5xl lg:text-6xl">
                        Clinic made simple.
                    </h1>
                </div>
                <div class="mt-5 max-w-3xl">
                    <p class="text-lg text-gray-600">
                        Appet allows users to efficiently oversee
                        the management of animals, clients, veterinary professionals, and other pertinent
                        aspects.
                    </p>
                </div>
                <div class="mt-8 gap-3 flex justify-center">
                    <a class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium border border-transparent bg-sky-600 text-white hover:bg-sky-700" asp-area="" asp-controller="Clients" asp-action="Index">
                        Get started
                    </a>
                    <a class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium border border-transparent bg-slate-600 text-white hover:bg-slate-700" asp-area="" asp-controller="Home" asp-action="About">
                        Learn more
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-8 px-4">
    <div class="mx-auto max-w-5xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
        <div class="grid gap-3 sm:grid-cols-2 sm:gap-6 lg:grid-cols-3">

            <a class="flex flex-col border bg-white hover:bg-sky-50" asp-area="" asp-controller="Clients" asp-action="Index">
                <div class="p-4 md:p-5">
                    <div class="flex gap-x-5">
                        <p class="mt-1 size-5 shrink-0 text-gray-800">👥</p>
                        <div class="grow">
                            <h3 class="font-semibold text-gray-800">Clients</h3>
                            <p class="text-sm text-gray-500">Manage all of the pets owners.</p>
                        </div>
                    </div>
                </div>
            </a>

            <a class="flex flex-col border bg-white hover:bg-sky-50" asp-area="" asp-controller="Animals" asp-action="Index">
                <div class="p-4 md:p-5">
                    <div class="flex gap-x-5">
                        <p class="mt-1 size-5 shrink-0 text-gray-800">🦴</p>
                        <div class="grow">
                            <h3 class="font-semibold text-gray-800">Animals</h3>
                            <p class="text-sm text-gray-500">Manage of all kind of animals.</p>
                        </div>
                    </div>
                </div>
            </a>

            <a class="flex flex-col border bg-white hover:bg-sky-50" asp-area="" asp-controller="Appointments" asp-action="Index">
                <div class="p-4 md:p-5">
                    <div class="flex gap-x-5">
                        <p class="mt-1 size-5 shrink-0 text-gray-800">📝</p>
                        <div class="grow">
                            <h3 class="font-semibold text-gray-800">Appointment</h3>
                            <p class="text-sm text-gray-500">Manage all customer appointments.</p>
                        </div>
                    </div>
                </div>
            </a>

            <a class="flex flex-col border bg-white hover:bg-sky-50" asp-area="" asp-controller="Vets" asp-action="Index">
                <div class="p-4 md:p-5">
                    <div class="flex gap-x-5">
                        <p class="mt-1 size-5 shrink-0 text-gray-800">👨🏽‍⚕️</p>
                        <div class="grow">
                            <h3 class="font-semibold text-gray-800">Vet</h3>
                            <p class="text-sm text-gray-500">Manage all vets in the clinic.</p>
                        </div>
                    </div>
                </div>
            </a>

            <a class="flex flex-col border bg-white hover:bg-sky-50" asp-area="" asp-controller="Observatories" asp-action="Index">
                <div class="p-4 md:p-5">
                    <div class="flex gap-x-5">
                        <p class="mt-1 size-5 shrink-0 text-gray-800">🔎</p>
                        <div class="grow">
                            <h3 class="font-semibold text-gray-800">Observatory</h3>
                            <p class="text-sm text-gray-500">Manage the observatory locations.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>